* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

#article {
    display: none;
}

@import "footer";

@import "_variables";

#aboutus-grid {
    display: grid;
    justify-items: center;

    #menu-logo {
        margin-top: 10px;
    }

    #Header-info {
        display: grid;
        width: 100%;
        min-height: 10vh;
        background-color: burlywood;
        justify-items: center;
        font-family: 'Raleway', sans-serif;
        

        #Header-address {
            margin-top: 10px;
            color: $text-color;
        }

        #Header-contact {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            column-gap: 15px;
            margin-right: 10px;
            justify-items: center;
        }
    }

    #About {
        display: grid;
        justify-items: center;
        row-gap: 10px;
        width: 80%;
        margin-top: 20px;
        text-align: center;

        .Photo-About {
            border: solid burlywood;
            width: 40vw;
        }

        p {
            font-family: 'Montserrat', sans-serif;
        }

        .title {
            font-family: 'Raleway', sans-serif;
            border-bottom: solid;
            border-top: solid;
        }
    }
}


@media only screen and (min-width:600px) {
    html {
        font-size: 1.5em;
    }

    #aboutus-grid {
        
        #Header-info {
            min-height: 20vh;
        }
    }
}


@media only screen and (min-width:1000px) {
    #aboutus-grid {
        display: grid;
        

        #article {
            display: grid;
            margin-top: 50px;

            #article-text {
                font-family: 'Raleway', sans-serif;
                margin-bottom: 10px;
                border-bottom: solid;
            }
        }
    }
}