* {
    padding: 0;
    margin: 0;
}

@import "_footer";

#Cater-grid {
    display: grid;
    justify-items: center;
    row-gap: 20px;
    width: 100%;

    #Header-info {
            padding-top: 5px;
            display: grid;
            justify-items: center;
            row-gap: 5px;
            background-color: burlywood;
            padding-bottom: 10px;
            width: 100%;
            min-height: 10vh;
    
            #Header-contact {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: center;
                width: 100%;
            }
        }
    
        #Header-logo {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        #cater {
            display: grid;
            justify-items: center;
            border: solid;
        }
}