* {
    padding: 0;
    margin: 0;
}

@import "_footer";

#phone-one {
    display: none;
}

#Cater-grid {
    display: grid;
    justify-items: center;
    row-gap: 20px;
    width: 100%;

    #Header-info {
            padding-top: 5px;
            display: grid;
            justify-items: center;
            row-gap: 5px;
            background-color: burlywood;
            padding-bottom: 10px;
            width: 100%;
            min-height: 10vh;
            font-family: 'Raleway', sans-serif;
    
            #Header-contact {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: center;
                width: 100%;
            }
        }
    
        #Header-logo {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        #cater {
            display: grid;
            width: 90%;
            justify-items: center;
            border: solid;
            

            h2 {
                font-family: 'Raleway', sans-serif;
            }

            p {
                font-family: 'Montserrat', sans-serif;
            }
        }
}


@media only screen and (min-width:600px) {
    #phone {
        display: none;
    }

    #phone-one {
        display: grid;
    }

}


@media only screen and (min-width:1000px) {
    #cater-grid {

        #cater {
            width: 70%;
        }
    }
}