* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

@import "footer";

#map-image {
    display: none;
}

#map-grid {
    display: grid;
    justify-items: center;

    #Location {
        display: grid;
        justify-items: center;

        p {
            border-top: solid 1.5px;
            border-bottom: solid 1.5px;
        }
    }

    p {
        font-family: 'Raleway', sans-serif;
    }

    .hours {
        border-top: solid 1.5px;
        border-bottom: solid 1.5px;
    }

    #Header-info {
        display: grid;
        justify-items: center;
        row-gap: 5px;
        background-color: burlywood;
        padding-bottom: 10px;
        width: 100%;
        min-height: 10vh;
        font-family: 'Raleway', sans-serif;

        #Header-address {
            margin-top: 5px;
        }

        #Header-contact {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            width: 100%;
        }
    }

    #map-logo {
        margin-top: 10px;
        margin-bottom: 10px;
    }

}


@media only screen and (min-width:1000px) {
    #map-grid {

        #Location {
            width: 50%;
        }

        #map-image-title {
            border-bottom: solid 1.5px;
            border-top: solid 1.5px;
        }

        #map-image {
            display: grid;
            width: 50%;
        }
    }
}