* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

@import "footer";

#phone-one {
    display: none;
}

.menu-images {
    display: none;
}

#menu-grid {
    display: grid;
    justify-items: center;
    row-gap: 20px;

    #Header-info {
            padding-top: 5px;
            display: grid;
            justify-items: center;
            row-gap: 5px;
            background-color: burlywood;
            padding-bottom: 10px;
            width: 100%;
            min-height: 10vh;
            font-family: 'Raleway', sans-serif;
    
            #Header-contact {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: center;
                width: 100%;
            }
        }
    
        #menu-logo {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    
    #Grid-M {

        .Menu {
            display: grid;
            justify-items: center;
            row-gap: 5px;
            margin-top: 30px;
    
            p {
                font-family: 'Montserrat', sans-serif;
            }
    
            .titles {
                display: grid;
                margin-bottom: 30px;
                border-bottom: solid;
                border-top: solid;
                font-family: 'Raleway', sans-serif;
            }
        } 
    }

          
}


@media only screen and (min-width:600px) {
    html {
        font-size: 1.5em;
    }

    #phone {
        display: none;
    }

    #phone-one {
        display: grid;
    }
}


@media only screen and (min-width:1000px) {
    #menu-grid {

        #Grid-M {
            display: grid;
            text-align: center;
            row-gap: 50px;
            grid-template-columns: 1fr 1fr;
            column-gap: 10%;
            width: 100%;


            .menu-images {
                display: grid;
                justify-self: center;
                align-self: center;
                min-height: 100px;
                width: 250px;
                align-items: baseline;

                #entree-images {
                    display: grid;
                    
                }
                
                .images {
                    border: solid burlywood;
                }

                p {
                    font-family: 'Raleway', sans-serif;
                }
            }

            .Menu {
                display: grid;
                width: 100%;
                row-gap: 15px;
            }

            #Dessert {
                display: grid;
                justify-items: center;
                align-items: center;
            }
        }
    }
}