* {
    margin: 0;
    padding: 0;
}

@import "variables";

@import "header";

@import "footer";

#grid-container {
    display: grid;
    width: 100%;

    #Body-content {
        display: grid;
        justify-items: center;
        row-gap: 5vh;

        .Promo {
            position: relative;
            display: inline-block;
            width: 200px;
            margin-top: 20px;

            #home-image {
                filter: brightness(70%);
                width: 100%;
            }
        }

        .Promo .Promo-text {
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 20%;
            text-align: center;
            width: 60%;
        }

        #Promotion {
            color: $text-color;
        }

        #Home-info {
            display: grid;
            justify-items: center;
            row-gap: 10px;
            padding: 5px 5px 5px 5px;
            border: 1px solid;
            background-color: burlywood;
            color: $text-color;
        }
    }
}