* {
  margin: 0;
  padding: 0;
}

#Header {
  display: -ms-grid;
  display: grid;
  width: 100%;
  min-height: 30vh;
  justify-items: center;
}

#Header #Header-logo {
  margin-top: 10px;
}

#Header #Header-logo img {
  width: 100%;
}

#Header #Header-info {
  display: -ms-grid;
  display: grid;
  width: 100%;
  min-height: 15vh;
  background-color: burlywood;
  justify-items: center;
  font-family: 'Raleway', sans-serif;
}

#Header #Header-info #Header-address {
  justify-items: center;
  color: black;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway', sans-serif;
}

#Header #Header-info #Header-contact {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  justify-items: center;
  margin-right: 10px;
}

#Header #Header-info #Header-contact #phone-one {
  display: none;
}

#Header #Drop-menu #mobile-menu-checkbox {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
  z-index: 5;
}

#Header #Drop-menu #mobile-menu-checkbox:checked ~ #header-menu {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#Header #Drop-menu #mobile-hamburger-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  z-index: 4;
  position: relative;
}

#Header #Drop-menu #mobile-hamburger-container .mobile-hamburger-line {
  width: 30px;
  height: 4px;
  background-color: black;
}

#Header #Drop-menu #header-menu {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  background-color: burlywood;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -15vh;
  opacity: 0;
  left: 0;
  min-height: 40vh;
}

#Header #Drop-menu #header-menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  #Header #Header-info #Header-contact #phone {
    display: none;
  }
  #Header #Header-info #Header-contact #phone-one {
    display: -ms-grid;
    display: grid;
  }
}

#footer {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  row-gap: 5px;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
}

#phone-three {
  display: none;
}

a {
  color: black;
}

#DTMenu {
  display: none;
}

#Location {
  display: none;
}

#promo-title {
  display: none;
}

#grid-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
}

#grid-container #Body-content {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  row-gap: 5vh;
  width: 100%;
}

#grid-container #Body-content #Desk-grid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  row-gap: 5vh;
  width: 100%;
}

#grid-container #Body-content #Desk-grid .Promo {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 60%;
  margin-top: 30px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#grid-container #Body-content #Desk-grid .Promo #home-image {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  width: 100%;
}

#grid-container #Body-content #Desk-grid .Promo #Promotion {
  color: white;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#grid-container #Body-content #home-video {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 5px;
  font-family: 'Raleway', sans-serif;
  width: 90%;
  text-align: center;
}

#grid-container #Body-content #home-video h2 {
  border-bottom: solid;
  margin-bottom: 10px;
}

#grid-container #Body-content #Home-info {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  row-gap: 10px;
  padding: 5px 5px 5px 5px;
  color: black;
  border: solid burlywood;
  font-family: 'Raleway', sans-serif;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 1.5em;
  }
  #Drop-menu {
    display: none;
  }
  #DTMenu {
    display: -ms-grid;
    display: grid;
    width: 90%;
    min-height: 10vh;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: solid burlywood;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
  }
  #video {
    width: 80%;
    min-height: 30vh;
  }
  #Home-info #phone-two {
    display: none;
  }
  #Home-info #phone-three {
    display: -ms-grid;
    display: grid;
  }
}

@media only screen and (min-width: 1000px) {
  #grid-container #Body-content {
    display: -ms-grid;
    display: grid;
    row-gap: 50px;
  }
  #grid-container #Body-content #Desk-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #grid-container #Body-content #Desk-grid .Promo {
    margin-top: 0;
    margin-bottom: 40px;
  }
  #grid-container #Body-content #Desk-grid .Promo #Promotion {
    margin-top: 60px;
  }
  #grid-container #Body-content #Desk-grid .Promo h2 {
    display: -ms-grid;
    display: grid;
    font-family: 'Raleway', sans-serif;
    border-bottom: solid;
    margin-top: 0;
  }
  #grid-container #Body-content #Desk-grid #Location {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    margin-top: 20px;
  }
  #grid-container #Body-content #Desk-grid #Location p {
    font-family: 'Raleway', sans-serif;
  }
  #grid-container #Body-content #Desk-grid #Location h2 {
    font-family: 'Raleway', sans-serif;
    border-bottom: solid;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #grid-container #Body-content #home-video {
    width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */