* {
    margin: 0;
    padding: 0;
}

@import "variables";

@import "header";

@import "footer";

#DTMenu {
    display: none;
}

#grid-container {
    display: grid;
    width: 100%;

    #Body-content {
        display: grid;
        justify-items: center;
        row-gap: 5vh;

        .Promo {
            position: relative;
            display: inline-block;
            width: 300px;
            margin-top: 20px;

            #home-image {
                filter: brightness(70%);
                width: 100%;
            }
        }

        .Promo-text {
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 30%;
            text-align: center;
            width: 60%;
        }

        #Promotion {
            color: $text-color;
            font-size: large;
        }

        #home-video {
            display: grid;
            justify-items: center;
            row-gap: 5px;
        }

        #Home-info {
            display: grid;
            justify-items: center;
            row-gap: 10px;
            padding: 5px 5px 5px 5px;
            color: black;
        }
    }
}

@media only screen and (min-width:600px){
    #Drop-menu {
        display: none;
    }

    #DTMenu {
        display: grid;
        width: 90%;
        min-height: 10vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        border: solid burlywood;
        margin-top: 10px;
    }
}